@model FinanceApp.Web.PageModels.AccountListView
<h1 class="title is-1">@Model.Title</h1>
<div class="tile is-ancestor">
    <tile vertical>
        @foreach (var account in Model.Accounts)
        {
            <tile size="12" parent>
                <tile content-class="box" colour="light" hover-colour="grey-lighter">
                    <a class="columns is-gapless is-mobile" asp-route-id="@account.Id" asp-action="Index">
                        <div class="column is-4-desktop is-8-mobile">
                            <h2 class="title is-4">@account.Name</h2>
                            <h3 class="subtitle is-6">@account.Institution.Name</h3>
                        </div>
                        <div class="column is-hidden-mobile">@*Space columns out*@</div>
                        <div class="column is-1-desktop is-4-mobile">
                            <balance value="@account.Balance"></balance>
                        </div>
                    </a>
                </tile>
            </tile>
        }
    </tile>
</div>